<center>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<h1>VEİLERİNİZİ ÖNÜMÜZE GELENE SATIYORUZ !!!! </h1>
<br />
<h2>GOOGLE VE METANIN KÖLESİ PARANIN KÖPEĞİYİZ</h2>
<br />
<br />
<p>Verilerin panelde geziyor zaten, şu kardeşlerine de bi hayrın olsun.</p>
</center>