@model ICollection<SmartPortfolio.ViewModels.RoleUserViewModel>
<div class="row pt-4">
    <br />
    <div class="col-9">
        <h3 class="text-info">@ViewBag.User</h3>
    </div>
    <br />
    <br />
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-hover" width="100%">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="95%">@item.RoleName</td>
                        <td width="5%">
                            <div class="w-100 btn-group" role="group">
                                <form method="post" asp-action="UserDeleteRole" asp-controller="Panel">
                                    <input type="hidden" name="RoleId" value="@item.RoleId">
                                    <input type="hidden" name="UserId" value="@item.UserId">
                                    <button type="submit" name="action" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <p><b>Not Found Result</b></p>
    }
</div>
